<div class="container">
  <h1>Mettre à jour mon cheval</h1>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <%= simple_form_for (@horse) do |f|  %>
      <%= f.input :photo  %>
      <%= f.input :category, label: "Discipline", collection: ["Détente", "CSO", "Dressage"]  %>
      <%= f.input :price, label: "Prix mensuel", currency: "€" %>
      <%= f.input :name, label: "Nom du cheval" %>
      <%= f.input :gender, label: "Genre", collection: ["Hongre", "Jument", "Etalon"] %>
      <%= f.input :age, label: "Age", collection: (1..30) %>
      <%= f.input :size, label: "Taille" %>
      <%= f.input :coat, label: "Robe", collection: ["Alezan", "Bai", "Blanc", "Gris", "Isabelle", "Noir", "Pie", "Rouan"] %>
      <%= f.input :breed, label: "Race", collection: ["Anglo arabe", "Camarguais", "Cheval de selle", "Cheval de trait", "Cob", "Connemara", "Fjord", "Frison", "KWPN", "Lusitanien", "Mérens", "Percheron", "Pur sang", "Selle français", "Shetland", "Trotteur", "Welsh"] %>
      <%= f.input :description, label: "Description" %>

      <%= f.button :submit, "Enregistrer" %>
      <%= link_to "Retour", horse_path(@horse) %>
      <% end %>
    </div>
  </div>
</div>
