
<div class="container">
  <h1> <%= @horse.name.capitalize %> </h1>

     <div class="presentation">

      <div class="photo-description">
        <%= cl_image_tag @horse.photo, class: 'img-responsive', style: "height: auto; width: 80%; padding:1px; border:1px solid #021a40; "%>
        <br> <br>
        <p><strong>Nom du cheval : </strong><%= @horse.name.capitalize %></p>
        <p><strong>Address : </strong><%= @horse.localisation %></p>
        <p><strong>Discipline : </strong><%= @horse.category %></p>
        <p><strong>Prix : </strong><%= @horse.price %> €/jour</p>
        <p><strong>Genre : </strong><%= @horse.gender %></p>
        <p><strong>Age : </strong><%= @horse.age %> ans</p>
        <p><strong>Taille au garrot (cm) : </strong><%= @horse.size %></p>
        <p><strong>Robe : </strong><%= @horse.coat %></p>
        <p><strong>Race : </strong><%= @horse.breed %></p>
        <p><strong>Description : </strong><%= @horse.description %></p>
        <div class="owner">
          <p><strong>Le propriétaire : </strong></p>
          <%= image_tag @horse.user.photo, class: "img-horse-owner" %>
          <%= "#{@horse.user.first_name} #{@horse.user.last_name}" %>
        </div>
        <br>
        <div>
          <% if policy(@horse).edit? %>
          <%= link_to "Mettre à jour", edit_horse_path(@horse), class:"btn btn-link" %>
          <% end %>
          <% if policy(@horse).destroy? %>
          <%= link_to "Supprimer", horse_path(@horse), method: :delete, class:"btn btn-link" %>
          <% end %>
          <%= link_to "Retour", horses_path, class:"btn btn-link" %>
        </div>
      </div>

      <div class="resa-map">
        <h2>Réservation</h2>
          <%= simple_form_for [@horse, @booking] do |f|  %>
          <%= f.input :date_from %>
          <%= f.input :date_to %>

          <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
          <br> <br>
          <% if @horse.latitude != nil  %>
            <div class="img-responsive">
              <div id="map" style="width: 80%; height: 300px;"
              data-markers="<%= @markers.to_json %>">
              </div>
            </div>
          <% end  %>

      </div>
    </div>
</div>
