<div class="container">
  <div class="row">
    <h1> Vos réservations récentes</h1>

    <% @bookings.each do |booking| %>
        <div class="card-bookings">
          <%= image_tag booking.horse.photo, class: "img-horse" %>
          <div>
            <strong><%= Horse.find(booking.horse_id).name%></strong>
            <p>
              <i class="far fa-calendar-alt"></i>
              <%= booking.date_from %>
              <i class="fas fa-arrow-right"></i>
              <%= booking.date_to %>
            </p>
            <p><%= booking.horse.price * (booking.date_to - booking.date_from).to_i %> €</p>
            <p>Statut : <%= booking.status ? "Refusée" : "En cours de validation" %></p>
          </div>
          <div>
            <%= link_to "Détail de la réservation", booking_path(booking), class:"btn btn-success" %>
          </div>
        </div>
    <% end %>

  </div>
</div>
