<div class="container">
  <h1><strong>Votre réservation en cours</strong></h1>

  <div class="card-booking">
    <%= cl_image_tag @booking.horse.photo, style: "height: 200px; width: auto; padding:1px; border:1px solid #021a40;"%>
    <div class="recap-price">
      <p><strong><%= @booking.horse.price %>€</strong>/jour</p>
      <p>
        <i class="far fa-calendar-alt"></i>
        <%= @booking.date_from %>
        <i class="fas fa-arrow-right"></i>
        <%= @booking.date_to %>
      </p>
      <p>Soit : <%= @booking.horse.price %>€ x <%= 1 + (@booking.date_to - @booking.date_from).to_i %> jours</p>
      <h4><strong>Total : <%= @booking.horse.price * (1 + (@booking.date_to - @booking.date_from).to_i) %> €</strong></h4>
    </div>
  </div>

  <div>
    <h3>Récapitulatif du cheval</h3>
    <p><strong>Nom du cheval : </strong><%= @booking.horse.name.capitalize %></p>
    <p><strong>Discipline : </strong><%= @booking.horse.category %></p>
    <p><strong>Genre : </strong><%= @booking.horse.gender %></p>
    <p><strong>Age : </strong><%= @booking.horse.age %> ans</p>
    <p><strong>Taille au garrot (cm) : </strong><%= @booking.horse.size %></p>
    <p><strong>Robe : </strong><%= @booking.horse.coat %></p>
    <p><strong>Race : </strong><%= @booking.horse.breed %></p>
    <p><strong>Description : </strong><%= @booking.horse.description %></p>

    <%= link_to "Mes réservations", bookings_path, class:"btn btn-success" %>
    <%= link_to "Supprimer", booking_path(@booking), method: :delete, class:"btn btn-success" %>
  </div>
</div>
