
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>


<!-- Start your code here -->
<div class="container">
<!-- code  -->
<div class="panel panel-default event">
  <div class="panel-body">

    <div class="rsvp col-xs-2 col-sm-2">
        <img src="http://api.randomuser.me/portraits/med/men/71.jpg"/>
        <i></i>
        <i> <%= "#{current_user[:first_name]} #{current_user[:last_name]} " %></i>
     <div class="hidden-xs">
      <span class="fa fa-thumbs-up fa-2x"></span>
      <span class="fa fa-thumbs-down fa-2x"></span>
    </div>
  </div>
  <div class="info col-xs-8 col-sm-7">
   <%= "Location du : #{booking.date_from} au #{booking.date_to} " %>
       <div class="visible-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elitero..</div>
    <div class="hidden-xs">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">Location</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="location">Location</div>
        <div role="tabpanel" class="tab-pane" id="Review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis feugiat sem, eu sagittis libero. Duis non odio ut nibh volutpat tempus eget interdum elit.
        </div>
      </div>
    </div>
  </div>
  <div class="author col-xs-2 col-sm-3">
    <div class="profile-image">

      <img src <%= "=#{ Horse.find(booking.horse_id).photo}" %>  />
    </div>
    <div class="profile hidden-xs">
      <strong><%= Horse.find(booking.horse_id).name%></strong>
      <article> <%= "#{ Horse.find(booking.horse_id).description}" %> </article>
    </div>

  </div>
</div>
</div>

<!-- code -->
</div>
