<div class="container">
  <div class="row">
    <h3> Vos réservations</h3>

    <% @bookings_rider.each do |booking| %>
        <div class="card-bookings">
          <div class="booking-photo">
            <%= image_tag booking.horse.photo, class: "img-horse" %>
          </div>
          <div class="booking-data">
            <strong><%= Horse.find(booking.horse_id).name.capitalize%></strong>
            <p>
              <i class="far fa-calendar-alt"></i>
              <%= booking.date_from %>
              <i class="fas fa-arrow-right"></i>
              <%= booking.date_to %>
            </p>
            <p>
              <strong>
                <%= booking.horse.price * (booking.date_to - booking.date_from).to_i %> €
              </strong>
            </p>
          </div>
          <div class="booking-status">
            <% if policy(booking).validate? %>
              <%= simple_form_for(booking) do |f|  %>
                <%= f.input :status, label: "Statut", collection: [true, false] %>
                <%= f.button :submit, "Valider", class:"btn btn-primary" %>
              <% end %>
            <% else %>
              <p>
                <strong>Statut</strong>
                <div class="status-pending">
                  <%= booking.status ? "Validé" : "En cours de validation"%>
                </div>
              </p>
            <% end %>
          </div>
          <div class="booking-detail">
            <%= link_to "Détail de la réservation", booking_path(booking), class:"btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
